/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  font-family: $font-base;

  &--primary {
    background-color: $color-btn-primary;
    color: $color-white;
  }

  &:hover {
    cursor: pointer;
  }
}
