/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-family: $font-base;

  &--primary {
    background-color: $color-btn-primary;
    color: $color-white;
  }

  &--disabled {
    background-color: $color-gray;
    color: $color-white;
    cursor: not-allowed !important;
  }

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
