/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/

.flex-center {
  display: flex;
  justify-content: $container-justify;
  align-items: $container-align;
}

.grid-center {
  display: grid;
  align-items: $container-justify;
  justify-content: $container-justify;
}

.container {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: $container-justify;
  height: $height-full;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  align-items: $container-align;
  height: 70%;
}

.disabled {
  background-color: $color-disabled;
  color: $color-black;
  cursor: not-allowed !important;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}
