/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: $font-base;
  font-size: $font-size-base;
}

body,
figure {
  margin: 0;
}

#app {
  background: $color-background-deg;
  color: $color-white;
  height: $height-viewport;
  overflow: hidden;
  display: grid;
  grid-template-rows: 90px 1fr;
}
