/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: $font-base;
  font-size: $font-size-base;
  background: $color-background-deg;
}

body,
figure {
  margin: 0;
}

#app {
  color: $color-white;
  height: $height-viewport;
  overflow: hidden;
  display: grid;
  grid-template-rows: $header-height 1fr;
}

.mask-hero {
  background: url("../assets/SVG/mask-header-hero.svg") no-repeat;
  background-size: 50%;
  background-position-y: -30%;
  background-position-x: 110%;
}

@media only screen and (max-width: 840px) {
  .mask-hero {
    background-size: 40%;
  }
}
