/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: $font-base;
  font-size: $font-size-base;
}

body,
figure {
  margin: 0;
}

#app {
  background: $color-background-deg;
  color: $color-white;
  height: $height-viewport;
  overflow: hidden;
  display: grid;
  grid-template-rows: $header-height 1fr;
}

.hidden-element {
  display: none !important;
}

@media only screen and (max-height: 600px) {
  #app {
    height: auto;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 468px) {
  #app {
    height: auto;
    border: 1px solid;
    padding-bottom: 1rem;
  }
}
