/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/

.users .fas {
  font-size: 1.5rem;
}

.fa-pen-square {
  color: $color-purple-dark;
}

.fa-check-square {
  color: $color-green;
}

.fa-window-close {
  color: $color-red;
}
