/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.title-primary {
  font-size: $font-title-primary;
  text-shadow: $text-shadow;
  margin: 0;
  text-transform: uppercase;
}
