/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-family: $font-base;
  // position: relative;

  &--primary {
    background-color: $color-red;
    color: $color-white;
  }

  &--disabled {
    @extend .disabled;
  }

  &--active {
    background-color: $color-red !important;
    color: $color-white;
  }

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
