/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/

.flex-center {
  display: flex;
  justify-content: $container-justify;
  align-items: $container-align;
}

.grid-center {
  display: grid;
  align-items: $container-justify;
  justify-content: $container-justify;
}

//Contenedor principal
.container {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: $container-justify;
  // max-width: 1024px;
  // margin: 0 auto;
  height: $height-full;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}

//Contenedor para las secciones principales de cada vista
.section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  align-items: $container-align;
}

.form-container {
  color: $color-black;
  padding: 2rem 1rem;
  background-color: $color-white;
  border-radius: $border-radius-size;
  box-shadow: $box-shadow;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  &__title {
    margin: 0 0 2rem;
    text-align: left;
  }

  &__form {
    width: 90%;
    margin: 0 auto;
  }

  &__btn {
    position: relative;

    & i {
      color: $color-white;
    }
  }
}

.disabled {
  background-color: $color-gray !important;
  color: $color-black;
  cursor: not-allowed !important;
}

.hidden-element {
  display: none !important;
}
