/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: $font-base;
  font-size: $font-size-base;
}

body,
figure {
  margin: 0;
}

#app {
  display: grid;
  grid-template-rows: $header-height 1fr;
  background: $color-background-deg;
  color: $color-white;
  box-sizing: border-box;

  &.login-app {
    min-height: $height-viewport;
  }
}
