input,
textarea,
select {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: $font-base;
  background-color: $color-gray-dark;
  color: $color-white;
  font-size: $font-size-base;
}

input[type="file"],
select {
  box-sizing: border-box;
  font-size: $font-size-secundary;
}

input:disabled {
  @extend .disabled;
}
