/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/

.link-normal {
  color: $color-white;
  text-decoration: none;
}

.link {
  color: $color-purple;
  transition: 0.3s;
  font-weight: bold;

  &:hover {
    color: $color-yellow;
  }
}
