/*-----------------------------------------*\
                TABLES
\*-----------------------------------------*/
.table-container {
  box-sizing: border-box;
}

.table-responsive {
  // width: 800px;
  margin: auto;
  transition: $transition-base;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;

  &__header {
    color: $color-gray-dark-2;
  }

  &__body {
    .table__row {
      background-color: $color-white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      transition: 0.3s;
    }

    .table__row:hover {
      transform: scale(1.02);
    }

    /*Seleccionar los dos ultimos hijos del elemento*/
    .table__column:nth-last-child(-n + 2) {
      padding: 0;
      font-size: 1.5rem;
    }
  }

  &__column {
    padding: 1rem;
    font-weight: normal;
  }
}

/*-----------------------------------------*\
                PAGINATION
\*-----------------------------------------*/

.pagination {
  margin: 2rem 0;

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;

    &--item {
      margin-right: 1rem;
    }

    &--link {
      // box-sizing: border-box;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      background-color: $color-purple-dark;
      text-decoration: none;
      transition: 0.3s;
      display: block;
      border-radius: 0;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 925px) {
  .table-responsive {
    max-width: 500px;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 500px) {
  .table-responsive {
    max-width: 300px;
  }
}
