/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.title-primary {
  font-size: $font-title-primary;
  text-shadow: $text-shadow;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $color-yellow;
}

.title-secondary {
  font-size: $font-title-secondary;
}

.title-logo {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .title-primary {
    font-size: 2rem;
  }
}
