/*                           *\
        SETTINGS GLOBAL
\*                           */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(26, 28, 48, 1) 0%,
    rgba(54, 59, 99, 1) 100%
  );
  color: white;
}

figure {
  margin: 0;
}
