/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
/*COLORS*/
/*CONST*/
/*CONTAINERS*/
/*FONTS*/
/*FONTS SIZE*/
/*SHADOW*/
/*BORDER*/
/*SIDEBAR*/
/*CONTENIDO DASHBOARD*/
/*TRANSITIONS*/
/*ASSETS*/
/*-----------------------------------------*\
                  MIXINS
\*-----------------------------------------*/
/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

body,
figure {
  margin: 0;
}

#app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
  background: linear-gradient(150deg, #121320 50%, #363b63 100%);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/
.flex-center, .header__dashboard, .header-menu__list, .quotation, .quotation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-center, .editUser__form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1024px);
      grid-template-columns: minmax(auto, 1024px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-container, .quotation-container, .login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  color: #000;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-container__title {
  margin: 0 0 2rem;
  text-align: left;
}

.form-container__form {
  width: 90%;
  margin: 0 auto;
}

.form-container__btn {
  position: relative;
}

.form-container__btn i {
  color: #fff;
}

.disabled, input:disabled, .btn--disabled {
  background-color: #d8d8d8 !important;
  color: #000;
  cursor: not-allowed !important;
}

.hidden-element {
  display: none !important;
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.title-primary {
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffb227;
}

.title-secondary {
  font-size: 1.8rem;
}

.title-logo {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.t-center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .title-primary {
    font-size: 2rem;
  }
}

input,
textarea,
select {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  outline: none;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  border: 1px solid lightgrey;
  color: #000;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="file"],
select {
  font-size: 14px;
}

/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-family: "Cabin", sans-serif;
}

.btn--primary {
  background-color: #ce0f3d;
  color: #fff;
}

.btn--active {
  background-color: #ce0f3d !important;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.link-normal {
  color: #fff;
  text-decoration: none;
}

.link {
  color: #1a1c30;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.link:hover {
  color: #ffb227;
}

/*-----------------------------------------*\
                TABLES
\*-----------------------------------------*/
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}

.table__header {
  color: rgba(39, 37, 37, 0.815);
}

.table__body {
  /*Seleccionar los dos ultimos hijos del elemento*/
}

.table__body .table__row {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.table__body .table__row:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.table__body .table__column:nth-last-child(-n + 2) {
  padding: 0;
  font-size: 1.5rem;
}

.table__column {
  padding: 1rem;
  font-weight: normal;
}

/*-----------------------------------------*\
                PAGINATION
\*-----------------------------------------*/
.pagination {
  margin: 2rem 0;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.pagination__list--item {
  margin-right: 1rem;
}

.pagination__list--link {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #121320;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 877px) {
  .table-container {
    overflow: auto;
  }
}

/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
.users .fas {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-pen-square {
  color: #121320;
}

.fa-check-square {
  color: #28a745;
}

.fa-window-close {
  color: #ce0f3d;
}

/*-----------------------------------------*\
                  LIST
\*-----------------------------------------*/
.list-normal {
  margin: 0;
  padding: 0;
}

.list-normal > ol,
.list-normal > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*                    *\
          HEADER
\*                    */
.header {
  height: 90px;
  position: relative;
}

.header .container {
  height: inherit;
}

.header__dashboard {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.header-menu {
  height: inherit;
}

.header-menu__list {
  height: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__list--link {
  padding-left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu__list--link:hover {
  color: #ffb227;
}

/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/
.quotation {
  background: url("http://localhost/cotizacion/Assets/img/upload/SVG/img-hero.svg") no-repeat;
  background-position-y: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quotation-container {
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  grid-column-gap: 0.5rem;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.quotation__form {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quotation-btn button {
  width: 25%;
  position: relative;
}

.quotation-btn input {
  width: 60%;
}

#icon-loading {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .quotation {
    background-position-y: 60vh;
  }
  .quotation-container {
    padding-top: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .quotation-btn button,
  .quotation-btn input {
    width: 100%;
  }
}

/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/
.login {
  height: calc(100vh - 90px);
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login .container {
  overflow: auto;
}

.login-container .login-description {
  text-align: center;
}

.login-container .login-description .login-description__img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .login-description {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60%;
        grid-template-columns: 1fr 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .login-description {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .login-description__img {
    display: none;
  }
}

/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/
.user-container {
  width: 100%;
  overflow-x: hidden;
}

.user-container__info {
  margin: 2rem 0;
}

.user-search,
.user-search__form {
  margin: 2rem 0;
}

/*Editar usuarios*/
#editUser .title-primary,
#editUser p {
  margin: 0;
}

#editUser .users {
  color: #000;
}

.editUser__form {
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}

.editUser__form--field {
  background-color: #fff;
  border: 1px solid lightgray;
  color: #000;
  margin: 0;
}

.editUser__form label {
  text-align: end;
}

.editUser__form .form-login__btn {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 768px) {
  .editUser__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
  }
  .editUser__form .login-form__btn {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .editUser label {
    text-align: initial;
  }
}

/*-----------------------------------------*\
                  DASHBOARD
\*-----------------------------------------*/
.app-dashboard#app {
  background: #fff;
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px 1fr;
      grid-template-columns: 230px 1fr;
  position: relative;
      grid-template-areas: "sidebar content" "sidebar content";
  width: 100%;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.app-dashboard#app .header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.dashboard {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: content;
  width: calc(100vw - 230px);
  min-height: calc(100vh - 90px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-x: hidden;
}

.dashboard-content {
  min-height: inherit;
  background-color: #f4f8f9;
}

@media only screen and (max-width: 767px) {
  .app-dashboard#app {
    -ms-grid-rows: initial;
        grid-template-rows: initial;
  }
  .app-dashboard#app .dashboard {
    width: 100vw;
    -webkit-transform: translateX(-230px);
            transform: translateX(-230px);
  }
}

/*-----------------------------------------*\
                  SIDEBAR
\*-----------------------------------------*/
.sidebar {
  background: linear-gradient(150deg, #121320 50%, #363b63 100%);
  color: #fff;
  min-height: 100vh;
  width: 230px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.sidebar-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
      grid-template-areas: "logo icon-menu";
  padding: 3rem 0;
  position: relative;
}

.sidebar-header__logo--circle {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #fff;
  margin: 0 auto;
  display: none;
}

.sidebar-header__icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #fff;
  margin: 0 auto;
  background-color: #121320;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon-menu;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.sidebar-header__icon:before {
  line-height: 30px;
}

.sidebar__menu--item {
  position: relative;
}

.sidebar__menu--item > a {
  padding: 0.7rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  grid-column-gap: 0.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__menu--item > a .fas {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
}

.sidebar__menu--item a:hover {
  background-color: #ce0f3d;
}

.sidebar__menu--item.menu-dropdown > a {
  -ms-grid-columns: 30px 1fr 30px;
      grid-template-columns: 30px 1fr 30px;
}

.sidebar__menu--item.menu-dropdown.expanded .sidebar__submenu {
  overflow: initial;
  max-height: 100vh;
}

.sidebar__submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__submenu--item > a {
  display: block;
  padding: 0.3rem 1rem 0.3rem 3rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  #app.sidebar-toggled .sidebar {
    width: 50px;
  }
  #app.sidebar-toggled .sidebar-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 1rem;
        grid-template-areas: "icon-menu" "logo";
  }
  #app.sidebar-toggled .sidebar-header__logo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  #app.sidebar-toggled .sidebar-header__logo--circle {
    display: block;
  }
  #app.sidebar-toggled .sidebar-header__logo--icon {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: icon-menu;
  }
  #app.sidebar-toggled .sidebar-header__logo--title {
    display: none;
  }
  #app.sidebar-toggled .sidebar__menu--item > a {
    -ms-grid-columns: 50px auto;
        grid-template-columns: 50px auto;
    grid-column-gap: 0;
    height: 40px;
    padding: 0;
  }
  #app.sidebar-toggled .sidebar__menu--item > a span {
    line-height: 40px;
    background-color: #ce0f3d;
    width: 0;
    position: absolute;
    right: 230px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    padding: 0 0.5rem;
  }
  #app.sidebar-toggled .sidebar__menu--item > a #icon-angle {
    display: none;
  }
  #app.sidebar-toggled .sidebar__menu--item:hover > a {
    background-color: #ce0f3d;
  }
  #app.sidebar-toggled .sidebar__menu--item:hover span {
    width: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 50px;
  }
  #app.sidebar-toggled .sidebar__menu--item:hover .sidebar__submenu {
    width: 150px;
    left: 50px;
    height: auto;
    max-height: 100vh;
    overflow: initial;
  }
  #app.sidebar-toggled .sidebar__submenu {
    position: absolute;
    z-index: 10;
    right: 230px;
    background-color: #121320;
    width: 0;
    padding: 0;
  }
  #app.sidebar-toggled .sidebar__submenu--item > a {
    padding: 0 0.5rem;
  }
  #app.sidebar-toggled .sidebar__submenu--item > a > span {
    line-height: 40px;
  }
  #app.sidebar-toggled .dashboard {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
    width: calc(100vw - 50px);
  }
}

@media only screen and (max-width: 767px) {
  #app .sidebar {
    width: 0;
    left: -230px;
  }
  #app .sidebar-header__icon {
    left: 240px;
    top: 25px;
  }
  #app.sidebar-toggled .sidebar {
    width: 230px;
    left: 0;
  }
  #app.sidebar-toggled .sidebar-header__icon {
    left: 0;
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */