/*-----------------------------------------*\
                  DASHBOARD
\*-----------------------------------------*/

.app-dashboard#app {
  background: $color-white;
  color: $color-black;
  display: inline-grid;
  grid-template-columns: $sidebar-width 1fr;
  // display: flex;
  position: relative;
  grid-template-areas: "sidebar content" "sidebar content";
  width: 100%;
  overflow-x: hidden;
  transition: $sidebar-transition;

  & .header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }
}

.dashboard {
  grid-area: content;
  width: calc(100vw - 180px);
  transition: all 0.3s;
  overflow-x: hidden;
}

.dashboard-header {
  @include m-flex(space-between, center, initial);
}

.dashboard-container {
  background-color: $color-light-gray;
}
