/*-----------------------------------------*\
                  DASHBOARD
\*-----------------------------------------*/

.app-dashboard#app {
  background: $color-white;
  color: $color-black;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  position: relative;
  grid-template-areas: "sidebar content" "sidebar content";
  width: 100%;
  overflow-x: hidden;
  transition: $transition-base;

  & .header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }
}

.dashboard {
  grid-area: content;
  width: $dashboard-width;
  min-height: $dashboard-min-height;
  transition: all 0.3s;
  overflow-x: hidden;

  &-content {
    min-height: inherit;
    background-color: $color-light-gray;
  }
}

@media only screen and (max-width: 767px) {
  .app-dashboard#app {
    grid-template-rows: initial;

    & .dashboard {
      width: 100vw;
      transform: translateX(-$sidebar-width);
    }
  }
}
