/*-----------------------------------------*\
                  DASHBOARD
\*-----------------------------------------*/

.app-dashboard#app {
  background: $color-white;
  color: $color-black;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  // display: flex;
  position: relative;
  transition: $sidebar-transition;

  & .header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }
}

.dashboard {
  transition: $sidebar-transition;
  width: 100%;
}

.dashboard-header {
  @include m-flex(space-between, center, initial);
}

.dashboard-container {
  background-color: $color-light-gray;
}
