/*                    *\
          HEADER
\*                    */

.header {
  height: $header-height;
  position: relative;

  & .container {
    height: inherit;
  }
}

.header-menu {
  height: inherit;
  z-index: 100;

  &__list {
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    @include m-flex(flex-end);

    &--link {
      color: $color-white;
      text-decoration: none;
      padding-left: 1rem;
      transition: 0.3s;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}
