/*                    *\
          HEADER
\*                    */

.header {
  height: $header-height;
  position: relative;

  & .container {
    height: inherit;
  }
}

.header-menu {
  height: inherit;

  &__list {
    height: inherit;
    @include m-flex(flex-end);

    &--link {
      padding-left: 1rem;
      transition: 0.3s;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}
