/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/

.login {
  padding: 1rem 0;

  & .title-primary {
    text-transform: initial;
  }
}

.login-container {
  @extend .section-container;
  align-items: initial;
  padding-top: 2rem;
  height: 80%;
  align-items: center;

  & .login-description {
    padding-top: 3rem;
    text-align: center;

    & .login-description__img {
      width: 100%;
    }
  }
}

.login-form {
  & .form-container {
    color: $color-black;
    // margin-top: 2rem;
    padding: 2rem 1rem;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    & h2 {
      font-size: 1.8rem;
      margin: 0 0 2rem;
      text-align: left;
    }

    & form {
      width: 90%;
      margin: 0 auto;
    }

    & .login-form__input {
      border: 1px solid lightgray;
      color: $color-black;
      margin-bottom: 1rem;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.form-login__btn {
  position: relative;

  & input {
    width: 100%;
  }

  & i {
    color: $color-white;
  }
}

@media only screen and (max-width: 768px) {
  .login-description {
    display: grid;
    grid-template-columns: 1fr 60%;
    align-items: center;
  }
}

@media only screen and (max-height: 679px) {
  .login-container {
    padding-top: 0;
  }
}

@media only screen and (max-height: 600px) {
  .login-container {
    height: auto;
    padding: 0 0 1rem;
  }

  .login-description {
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 425px) {
  .login-description {
    grid-template-columns: 1fr;
  }

  .login-description__img {
    display: none;
  }
}
