/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/

.login {
  height: $height-main-section;
  overflow: hidden;
  box-sizing: border-box;
  // padding-bottom: 2rem;

  & .container {
    overflow: auto;
  }
}

.login-container {
  @extend .section-container;

  & .login-description {
    text-align: center;

    & .login-description__img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    grid-template-columns: 1fr;
  }

  .login-description {
    display: grid;
    grid-template-columns: 1fr 60%;
    align-items: $container-align;
  }
}

// @media only screen and (max-height: 570px) {
//   .login {
//     height: auto;
//     padding-bottom: 2rem;
//   }
// }

@media only screen and (max-width: 425px) {
  // .login .container {
  //   overflow: auto;
  // }

  .login-description {
    grid-template-columns: 1fr;
    align-self: flex-end;
  }

  .login-description__img {
    display: none;
  }
}
