/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/

.quotation {
  @extend .view-container;
  background: url($url-assets + "SVG/img-hero.svg") no-repeat $color-light-gray;
  background-position-y: 40vh;
}

.quotation-container {
  @extend .section-container;
}

//FORMULARIO
.quotation__form {
  @include m-flex(initial, initial, column);
}

.quotation-btn span {
  margin-left: 0.2rem;
}

.quotation-btn button {
  width: 25%;
  position: relative;
}

.quotation-btn input {
  width: 60%;
}

//ICONO CARGANDO BOTON
#icon-loading {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .quotation__detail {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }

  .quotation-container,
  .login-container {
    grid-template-columns: 1fr;
  }

  .quotation-btn button,
  .quotation-btn input {
    width: 100%;
  }
}
