/*-----------------------------------------*\
                  SIDEBAR
\*-----------------------------------------*/

.sidebar {
  background: $color-background-deg;
  color: $color-white;
  min-height: $height-viewport;
  width: $sidebar-width;
  transition: 0.3s;
  position: fixed;
  z-index: $sidebar-zindex;
  left: 0;
  top: 0;
  bottom: 0;
  grid-area: sidebar;
}

//*****Parte del logo y del icono de ménu del sidebar****//
.sidebar-header {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "logo icon-menu";
  padding: 3rem 0;

  //Logo circulo
  &__logo--circle {
    @include m-container-circle(25px);
    display: none;
  }

  //icono de menú en el sidebar
  &__icon {
    align-self: $container-align;
    justify-self: $container-justify;
    cursor: pointer;
    grid-area: icon-menu;
  }
}

//****Menu del side bar*****//
.sidebar__menu--item {
  position: relative;

  & > a {
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 0.3rem;
    align-items: $container-align;
    position: inherit;
    transition: $transition_base;

    //****font awesome***//
    & .fas {
      justify-self: $container-justify;
      font-size: 1rem;
    }
  }

  & a:hover {
    background-color: $color-red;
  }

  &.menu-dropdown {
    & > a {
      grid-template-columns: 30px 1fr 30px;
    }
  }

  &.menu-dropdown.expanded {
    .sidebar__submenu {
      overflow: initial;
      max-height: $height-viewport;
    }
  }
}

//****submenu****//
.sidebar__submenu {
  max-height: 0;
  overflow: hidden;
  transition: $transition_base;
  // border: 1px solid red;

  &--item > a {
    display: block;
    padding: 0.3rem 1rem 0.3rem 3rem;
    font-size: 0.9rem;
  }
}

//**Cuando se active o desactive el mostrar todo el menú***//
#app {
  @media (min-width: 768px) {
    &.sidebar-toggled {
      // grid-template-columns: $sidebar-width-min 1fr;
      // width: 800px;
      // transition: 0.3s;

      .sidebar {
        // transform: translateX($sidebar-width-min - $sidebar-width);
        width: $sidebar-width-min;
      }

      .sidebar-header {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-template-areas:
          "icon-menu"
          "logo";
      }

      .sidebar-header__logo {
        grid-area: logo;

        &--circle {
          display: block;
        }

        &--icon {
          grid-area: icon-menu;
        }

        &--title {
          display: none;
        }
      }

      // menu

      .sidebar__menu--item > a {
        grid-template-columns: $sidebar-width-min auto;
        grid-column-gap: 0;
        height: $sidebar-item-height;
        padding: 0;

        & span {
          line-height: $sidebar-item-height;
          background-color: $color-red;
          width: 0;
          position: absolute;
          right: $sidebar-width;
          transition: $transition_base;
          overflow: hidden;
          padding: 0 0.5rem;
        }

        & #icon-angle {
          display: none;
        }
      }

      .sidebar__menu--item:hover {
        & > a {
          background-color: $color-red;
        }

        & span {
          width: 150px;
          box-sizing: border-box;
          left: $sidebar-width-min;
        }

        .sidebar__submenu {
          width: 150px;
          left: $sidebar-width-min;
          height: auto;
          max-height: 100vh;
          overflow: initial;
        }
      }

      // submenu
      .sidebar__submenu {
        position: absolute;
        z-index: $sidebar-zindex;
        right: $sidebar-width;
        background-color: $color-purple-dark;
        width: 0;
        padding: 0;

        // padding: 0 0.5rem;

        &--item > a {
          // padding: 0;
          // height: $sidebar-item-height;
          padding: 0 0.5rem;

          & > span {
            line-height: $sidebar-item-height;
          }
        }
      }

      .dashboard {
        transform: translateX($sidebar-width-min - $sidebar-width);
        width: $dashboard-width-min;
      }
    }
  }
}

#app {
  @media only screen and (max-width: 767px) {
    .sidebar {
      width: 0;
      left: -$sidebar-width;
    }

    .sidebar-header__icon {
      transform: translateX($sidebar-width);
      color: black;
    }

    &.sidebar-toggled {
      .sidebar {
        width: $sidebar-width;
        left: 0;
      }

      .sidebar-header__icon {
        transform: translateX(0);
      }
    }
  }
}
