/*-----------------------------------------*\
                  SIDEBAR
\*-----------------------------------------*/

.sidebar {
  background: $color-background-deg;
  color: $color-white;
  height: $height-viewport;
  width: $sidebar-width;
  transition: $sidebar-transition;
  position: relative;
}

.sidebar-container {
  position: fixed;
  z-index: $sidebar-zindex;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
}

//*****Parte del logo y del icono de ménu del sidebar****//
.sidebar-header {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "logo icon-menu";
  padding: 3rem 0;

  &__logo {
    &--title {
      font-size: 2.5rem;
      text-align: center;
      margin: 0;
    }

    &--circle {
      background-color: $color-white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: none;
      margin: 0 auto;
    }
  }

  &__icon {
    align-self: center;
    justify-self: center;
    cursor: pointer;
    grid-area: icon-menu;
  }
}

//****Menu del side bar*****//
.sidebar__menu {
  & ul {
    padding: 0;
    margin: 0;
  }

  &--item {
    list-style: none;
    & a {
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 25% 1fr;
      align-items: center;
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      //****font awesome***//
      & .fas {
        justify-self: center;
      }
    }

    & a:hover {
      background-color: $color-red;
    }
  }
}

//**Cuando se active o desactive el mostrar todo el menú***//
#app {
  @media (min-width: 768px) {
    &.sidebar-toggled {
      grid-template-columns: $sidebar-width-min 1fr;

      .sidebar {
        width: $sidebar-width-min;
      }

      .sidebar-header {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-template-areas:
          "icon-menu"
          "logo";

        &__logo {
          grid-area: logo;

          &--circle {
            display: block;
          }

          &--icon {
            grid-area: icon-menu;
          }

          &--title {
            display: none;
          }
        }
      }

      .sidebar-container {
        width: $sidebar-width-min;
      }

      // menu
      .sidebar__menu {
        &--item a {
          // border: 1px solid green;
          grid-template-columns: $sidebar-width-min auto;
          height: 40px;
          padding: 0;

          & span {
            line-height: 40px;
            padding: 0 0.5rem;
            transition: 0.3s;
            background-color: $color-red;
            position: absolute;
            width: 0;
            right: $sidebar-width;
            transition: 0.3s;
          }
        }

        &--item a:hover {
          & span {
            width: 90px;
            left: $sidebar-width-min;
          }
        }
      }
    }
  }
}
