/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/
.user-container {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 2rem;

  &__info {
    margin: 2rem 0;
  }
}

.user-search,
.user-search__form {
  margin: 2rem 0;
}

/*Editar usuarios*/

.user-edit {
  background-color: $color-white;
  color: $color-gray-dark-2;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-row-gap: 2rem;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "head head" "sidebar content";
  padding-bottom: 1rem;
  position: relative;
  box-shadow: 10px 10px;

  &__header {
    padding: 0 1.5rem;
    grid-area: head;

    & p {
      margin: 0;
      padding: 1rem 0;
      border-bottom: 1px solid $color-gray;
    }
  }

  &__sidebar {
    grid-area: sidebar;

    & .avatar-user {
      @include m-container-circle(80px);
      background-color: $color-red;
      color: $color-white;
      @extend .flex-center;
      font-size: 3rem;
    }
  }

  &__form {
    grid-area: content;
    padding: 0 1rem;
  }
}

.editUser {
  &__form {
    // @extend .grid-center;
    // grid-template-columns: 30% 1fr;
    // grid-row-gap: 1rem;
    // grid-column-gap: 2rem;

    // &--field {
    //   background-color: $color-white;
    //   border: 1px solid lightgray;
    //   color: $color-black;
    //   margin: 0;
    // }

    // & label {
    //   text-align: end;
    // }

    // & .form-login__btn {
    //   grid-column: 2;
    // }
  }
}

// #fieldSearch {
//   width: 100%;
//   box-sizing: border-box;
//   margin-top: 1rem;
// }

@media only screen and (max-width: 768px) {
  .editUser {
    &__form {
      grid-template-columns: 1fr;
      grid-row-gap: 0.5rem;

      & .login-form__btn {
        grid-column: 1;
      }
    }

    & label {
      text-align: initial;
    }
  }
}
