/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/
.user-container {
  width: 100%;
  overflow-x: hidden;
}

.user-search,
.user-search__form {
  margin: 2rem 0;
}

/*Editar usuarios*/

#editUser {
  .title-primary,
  p {
    margin: 0;
  }

  & .users {
    color: $color-black;
  }
}

.editUser {
  &__form {
    @extend .grid-center;
    grid-template-columns: 30% 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;

    &--field {
      background-color: $color-white;
      border: 1px solid lightgray;
      color: $color-black;
      margin: 0;
    }

    & label {
      text-align: end;
    }

    & .form-login__btn {
      grid-column: 2;
    }
  }
}

// #fieldSearch {
//   width: 100%;
//   box-sizing: border-box;
//   margin-top: 1rem;
// }

@media only screen and (max-width: 768px) {
  .editUser {
    &__form {
      grid-template-columns: 1fr;
      grid-row-gap: 0.5rem;

      & .login-form__btn {
        grid-column: 1;
      }
    }

    & label {
      text-align: initial;
    }
  }
}
