/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/

.user-container {
  padding-bottom: 1rem;
}

.user-container,
.roles-container {
  // max-width: calc(100vw - 230px - 2rem);
  @include m-calc-maxwidth(2rem, true);
}

.user-search {
  padding: 0 1rem;
}

.user-search,
.user-search__form {
  margin: 2rem 0;
}

/*Editar usuarios*/

.user-edit {
  background-color: $color-white;
  color: $color-gray-dark-2;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-row-gap: 2rem;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "head head" "sidebar form";
  padding-bottom: 2rem;
  box-shadow: $box-shadow;

  &__header {
    padding: 0 1.5rem;
    grid-area: head;

    & p {
      margin: 0;
      padding: 1rem 0;
      border-bottom: 1px solid $color-gray;
    }
  }

  &__sidebar {
    grid-area: sidebar;
    margin-top: 1rem;

    & .avatar-user {
      @include m-container-circle(80px);
      background-color: $color-red;
      color: $color-white;
      @extend .flex-center;
      font-size: 3rem;
    }
  }

  &__form {
    grid-area: form;
    padding: 0 1rem;

    .textpass {
      @extend .flex-center;
      justify-content: initial;
    }

    #changePass {
      margin: 0 0 0 0.5rem;
      width: auto;
    }
  }
}

.form-update__btn {
  position: relative;
}

/*Solo cuando el sidebar menu este contraido*/
#app {
  @media (min-width: 768px) {
    &.sidebar-toggled {
      .user-container,
      .roles-container {
        @include m-calc-maxwidth(2rem);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /*Tabla usuarios*/
  .user-container,
  .roles-container {
    @include m-calc-maxwidth(2rem); // tamaño total menos el padding 2rem

    .user-search {
      padding: 0;
    }
  }

  /*Editar usuarios*/
  .user-edit {
    grid-template-areas: "head sidebar" "form form";
    grid-template-columns: repeat(2, 1fr);

    &__header {
      grid-area: head;
    }

    &__sidebar {
      grid-area: sidebar;
      // @include m-flex();
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      padding-right: 1rem;

      & p {
        display: none;
      }

      .avatar-user {
        height: 40px;
        width: 40px;
        font-size: 20px;
        margin: 0;
      }
    }

    &__form {
      grid-area: form;
    }
  }
}
