/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
/*COLORS*/
/*CONST*/
/*CONTAINERS*/
/*FONTS*/
/*FONTS SIZE*/
/*TEXT*/
/*DIMENSIONES*/
/*-----------------------------------------*\
                  MIXINS
\*-----------------------------------------*/
/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

body,
figure {
  margin: 0;
}

#app {
  background: linear-gradient(150deg, #121320 50%, #363b63 100%);
  color: #fff;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
}

@media only screen and (max-height: 600px) {
  #app {
    height: auto;
  }
}

/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/
.flex-center, .header-menu__list, .quotation__form, .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1024px);
      grid-template-columns: minmax(auto, 1024px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.section-container, .quotation-container, .login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.title-primary {
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffb227;
}

@media only screen and (max-width: 768px) {
  .title-primary {
    font-size: 2rem;
  }
}

input,
textarea {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Cabin", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-family: "Cabin", sans-serif;
}

.btn--primary {
  background-color: #ce0f3d;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.link {
  color: #1a1c30;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.link:hover {
  color: #ffb227;
}

/*                    *\
          HEADER
\*                    */
.header {
  height: 90px;
  position: relative;
}

.header .container {
  height: inherit;
}

.header-menu {
  height: inherit;
  z-index: 100;
}

.header-menu__list {
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__list--link {
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu__list--link:hover {
  color: #ffb227;
}

/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/
.quotation {
  background: url("../assets/SVG/img-hero.svg") no-repeat;
  background-position-y: 40vh;
}

.quotation__form {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quotation-btn button {
  width: 25%;
}

.quotation-btn input {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .quotation__detail {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }
  .quotation-container,
  .login-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/
.login .title-primary {
  text-transform: initial;
}

.login-form {
  color: #000;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem;
  text-align: left;
}

.login-form form {
  width: 90%;
  margin: 0 auto;
}

.login-form .login-form__input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: black;
  margin-bottom: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-container {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding-top: 3rem;
  height: 60%;
}

.login-container .login-description {
  padding-top: 3rem;
  text-align: center;
  background: url("../assets/495078-PHE69C-919.png") no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  background-position-x: center;
}

@media only screen and (max-width: 768px) {
  .login-description {
    background-image: none !important;
  }
}

/*-----------------------------------------*\
              LOADER ANIMATION
\*-----------------------------------------*/
#loading {
  -ms-grid-column: 2;
      grid-column-start: 2;
  text-align: center;
  display: none;
}

#loading.is-active {
  display: initial;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ce0f3d;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  #loading {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}
/*# sourceMappingURL=style.css.map */