/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
/*COLORS*/
/*CONST*/
/*CONTAINERS*/
/*FONTS*/
/*FONTS SIZE*/
/*TEXT*/
/*DIMENSIONES*/
/*-----------------------------------------*\
                  MIXINS
\*-----------------------------------------*/
/*-----------------------------------------*\
                  SETTING GLOBAL
\*-----------------------------------------*/
body {
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

body,
figure {
  margin: 0;
}

#app {
  background: linear-gradient(150deg, #121320 50%, #363b63 100%);
  color: #fff;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
}

.hidden-element {
  display: none !important;
}

@media only screen and (max-height: 733px) {
  #app {
    height: auto;
  }
}

@media only screen and (max-width: 468px) {
  #app {
    height: auto;
    border: 1px solid;
    padding-bottom: 1rem;
  }
}

/*-----------------------------------------*\
                  CONTAINERS
\*-----------------------------------------*/
.flex-center, .header-menu__list, .quotation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-center, .editUser__form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1024px);
      grid-template-columns: minmax(auto, 1024px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.section-container, .quotation-container, .login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.disabled, input:disabled, .btn--disabled {
  background-color: #d8d8d8;
  color: #000;
  cursor: not-allowed !important;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.title-primary {
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffb227;
}

@media only screen and (max-width: 768px) {
  .title-primary {
    font-size: 2rem;
  }
}

input,
textarea {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Cabin", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

/*-----------------------------------------*\
                  BUTTONS
\*-----------------------------------------*/
.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-family: "Cabin", sans-serif;
}

.btn--primary {
  background-color: #ce0f3d;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

/*-----------------------------------------*\
                  TYPOGRAPHY
\*-----------------------------------------*/
.link {
  color: #1a1c30;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.link:hover {
  color: #ffb227;
}

/*-----------------------------------------*\
                TABLES
\*-----------------------------------------*/
th {
  font-weight: normal;
}

/*-----------------------------------------*\
                  VARIABLES
\*-----------------------------------------*/
.users .fas {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-pen-square {
  color: #23263f;
}

.fa-check-square {
  color: #28a745;
}

.fa-window-close {
  color: #ce0f3d;
}

/*                    *\
          HEADER
\*                    */
.header {
  height: 90px;
  position: relative;
}

.header .container {
  height: inherit;
}

.header-menu {
  height: inherit;
  z-index: 100;
}

.header-menu__list {
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__list--link {
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu__list--link:hover {
  color: #ffb227;
}

/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/
.quotation {
  background: url("../assets/SVG/img-hero.svg") no-repeat;
  background-position-y: 40vh;
}

.quotation__form {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quotation-btn span {
  margin-left: 0.2rem;
}

.quotation-btn button {
  width: 25%;
  position: relative;
}

.quotation-btn input {
  width: 60%;
}

#icon-loading {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .quotation__detail {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }
  .quotation-container,
  .login-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .quotation-btn button,
  .quotation-btn input {
    width: 100%;
  }
}

/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/
.login {
  padding: 1rem 0;
}

.login .title-primary {
  text-transform: initial;
}

.login-container {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding-top: 2rem;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-description {
  padding-top: 3rem;
  text-align: center;
}

.login-container .login-description .login-description__img {
  width: 100%;
}

.login-form .form-container {
  color: #000;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-form .form-container h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem;
  text-align: left;
}

.login-form .form-container form {
  width: 90%;
  margin: 0 auto;
}

.login-form .form-container .login-form__input {
  border: 1px solid lightgray;
  color: #000;
  margin-bottom: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-login__btn {
  position: relative;
}

.form-login__btn input {
  width: 100%;
}

.form-login__btn i {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .login-description {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60%;
        grid-template-columns: 1fr 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-height: 679px) {
  .login-container {
    padding-top: 0;
  }
}

@media only screen and (max-height: 600px) {
  .login-container {
    height: auto;
    padding: 0 0 1rem;
  }
  .login-description {
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 425px) {
  .login-description {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .login-description__img {
    display: none;
  }
}

/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/
.user-header-hero {
  background: linear-gradient(150deg, #121320 50%, #363b63 100%);
  color: #fff;
}

.user-header-hero .hero {
  padding: 2rem 0;
}

.user-header-hero .hero .title-primary {
  margin-bottom: 1rem;
}

.users {
  padding: 2rem 0;
  background-color: #f4f8f9;
}

.users__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}

.users__table thead tr {
  color: #7a7b7b;
}

.users__table tbody tr {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.users__table tbody tr:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.users__table tbody tr th {
  padding: 1rem;
}

/*Seleccionar los dos ultimos hijos del elemento*/
tbody tr th:nth-last-child(-n + 2) {
  padding: 0;
}

/*Editar usuarios*/
#editUser .title-primary,
#editUser p {
  margin: 0;
}

#editUser .users {
  color: #000;
}

.editUser__form {
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}

.editUser__form--field {
  background-color: #fff;
  border: 1px solid lightgray;
  color: #000;
  margin: 0;
}

.editUser__form label {
  text-align: end;
}

.editUser__form .form-login__btn {
  -ms-grid-column: 2;
  grid-column: 2;
}

#fieldSearch {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
  .editUser__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
  }
  .editUser__form .form-login__btn {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .editUser label {
    text-align: initial;
  }
}
/*# sourceMappingURL=style.css.map */