/*                    *\
          HEADER
\*                    */

.header {
  height: $header-height;

  & .container {
    height: inherit;
  }
}

.header-menu {
  height: inherit;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
    @include m-flex(flex-end);

    &--link {
      color: $color-white;
      text-decoration: none;
      padding-left: 1rem;
    }
  }
}
