/*                    *\
          HEADER
\*                    */

.header {
  height: $header-height;
  // background-image: url("../assets/mask-header-hero.png");

  & .container {
    height: inherit;
  }
}

.header-menu {
  height: inherit;

  &__list {
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    @include m-flex(flex-end);

    &--link {
      color: $color-purple;
      text-decoration: none;
      padding-left: 1rem;
      transition: 0.3s;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}
