/*-----------------------------------------*\
                  LOGIN
\*-----------------------------------------*/

.login {
  background: url("../assets/495078-PHE69C-919.png") no-repeat;
  background-size: 500px;
  background-position-y: 65%;
  background-position-x: 20%;

  & .title-primary {
    text-transform: initial;
  }
}

.login-form {
  color: $color-black;
  padding: 2rem 1rem;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;

  & h2 {
    font-size: 1.8rem;
    margin: 0 0 2rem;
    text-align: left;
  }

  & form {
    width: 90%;
    margin: 0 auto;
  }

  & .login-form__input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: black;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.login-container {
  @extend .section-container;
}

.login-description {
  align-self: flex-start;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }
}
