/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/

.quotation {
  background: url("../assets/SVG/img-hero.svg") no-repeat;
  background-position-y: 40vh;
}

.quotation .container {
  height: $height-full;
}

.quotation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // align-content: $container-align;
  grid-column-gap: 2rem;
  height: 70%;
  align-items: center;
}

.quotation__detail {
  // padding-top: 2rem;

  &--title {
    @extend .title-primary;
    letter-spacing: 3px;
    color: $color-yellow;
  }
}

//FORMULARIO
.quotation__form {
  @include m-flex(initial, initial, column);
}

@media only screen and (max-width: 1024px) {
  .quotation__detail {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }

  .quotation-container {
    grid-template-columns: 1fr;
  }
}
