/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/

.quotation {
  background: url("../assets/SVG/img-hero.svg") no-repeat;
  background-size: 40%;
  background-position-y: 30vh;
}

.quotation .container {
  height: $height-full;
}

.quotation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // align-content: $container-align;
}

.quotation__detail {
  padding-top: 2rem;

  &--title {
    @extend .title-primary;
    letter-spacing: 3px;
    color: $color-yellow;
  }
}

//FORMULARIO
