/*-----------------------------------------*\
                  QUOTATION
\*-----------------------------------------*/

.quotation {
  background: url("../assets/SVG/img-hero.svg") no-repeat;
  background-position-y: 40vh;
}

.quotation-container {
  @extend .section-container;
}

//FORMULARIO
.quotation__form {
  @include m-flex(initial, initial, column);
}

.quotation-btn button {
  width: 25%;
}

.quotation-btn input {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .quotation__detail {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quotation {
    background-position-y: 60vh;
  }

  .quotation-container,
  .login-container {
    grid-template-columns: 1fr;
  }
}
