/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/

.user-header-hero {
  background: $color-background-deg;
  color: $color-white;

  & .hero {
    padding: 2rem 0;

    & .title-primary {
      margin-bottom: 1rem;
    }
  }
}

.users {
  padding: 2rem 0;
}
