/*-----------------------------------------*\
              LISTA DE USUARIOS
\*-----------------------------------------*/

.user-header-hero {
  background: $color-background-deg;
  color: $color-white;

  & .hero {
    padding: 2rem 0;

    & .title-primary {
      margin-bottom: 1rem;
    }
  }
}

.users {
  padding: 2rem 0;
  background-color: $color-light-gray;

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;

    & thead tr {
      color: $color-gray-text;
    }

    & tbody tr {
      background-color: $color-white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      transition: 0.3s;

      &:hover {
        transform: scale(1.02);
        // background-color: $color-light-gray;
      }

      & th {
        padding: 1rem;
      }
    }
  }
}

/*Seleccionar los dos ultimos hijos del elemento*/
tbody tr th:nth-last-child(-n + 2) {
  padding: 0;
}
